<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body style="background-color: burlywood;">
    {% include 'app1/navbar.html' %}
    <div class="container " style="margin:20px" >
        <p>           
            Welcome to Qwicky, your go-to source for dining delights! We're here to connect you with fantastic food experiences, from discovering great restaurants to ordering delicious meals online. Join us on this culinary journey!
            <br>
            <h5>Our Mission</h5>
            
            At Qwicky, our mission is to simplify your dining choices and make food discovery a pleasure. We're all about connecting foodies with flavors they love.
            <br>
            <br>
            <h5>Why Choose Us?</h5>
            
            - Discover: Explore top restaurants and eateries effortlessly.
            -  Order : Enjoy easy online ordering for delivery or pickup.
            -  Connect : Join our food-loving community and share your experiences.
            <br>
            <br>
            <h5>Contact Us</h5>>
            
            Got questions or suggestions? Reach out to us at deepanshutaneja762@gmail.com. Your feedback fuels our foodie passion!
            
            Join Qwicky and savor the world of food, one bite at a time.</p>
    </div>
    {% include 'app1/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>