<div style="background-color: burlywood; ">

  <div id="carouselExampleCaptions" class="carousel slide">

    <div class="carousel-indicators">

      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>

      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>

      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>

    </div>


    <div class="carousel-inner h-100 ">

      <div class="carousel-item active">

        <img
          src="https://images.pexels.com/photos/1556688/pexels-photo-1556688.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          id="burger" class="d-block w-100" alt="image" style="width: 100%;">

        <div class="carousel-caption d-md-block "
          style="width: 200vmin 200vmin; margin-bottom : 60vmin ;margin-left: 60vmin;">

          <h5>BURGER</h5>

          <p class="item-description" style="font-size:larger;">Crafting Burgers Beyond Ordinary – Taste the Difference!</p>

        </div>

      </div>


      <div class="carousel-item h-100">

        <img
          src="https://images.pexels.com/photos/3186743/pexels-photo-3186743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          id="coffee" class="d-block w-100" alt="image">

        <div class="carousel-caption d-md-block" style="margin-bottom: 65vmin;margin-left: 65vmin;">

          <h5>NESCAFE Classic</h5>

          <p class="item-description">Start Strong, Start with Nescafé</p>

        </div>

      </div>


      <div class="carousel-item w-100">
        <img
          src="https://images.pexels.com/photos/1307698/pexels-photo-1307698.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          id="pizza" class="d-block w-100" alt="image">

        <div class="carousel-caption  d-md-block">

          <h5>CAFETERIA</h5>

          <p class="item-description">Where every plate spins a delicious tale!</p>

        </div>

      </div>

    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">

      <span class="carousel-control-prev-icon" aria-hidden="true"></span>

      <span class="visually-hidden">Previous</span>

    </button>


    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">

      <span class="carousel-control-next-icon" aria-hidden="true"></span>

      <span class="visually-hidden">Next</span>

    </button>

  </div>