<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'app1/home.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <style>
    .btn1 {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .img-fluid {
      padding: 10px; /* Adjust the padding as needed */
    }
  </style>
</head>

<body style="background-color: burlywood;">

  {% include 'app1/navbar.html' %}

  <div class="container">

    <h1 style="text-align: center;margin-top: 10px;">Product Details</h1>

    <div class="card mb-3" style="max-width: 90%; margin: 0 auto; background-color: rgb(252, 232, 196);">

      <div class="row g-0">

        <div class="col-md-4 col-lg-3">

          <img src="{{z.img.url}}" class="img-fluid rounded-start" alt="image"
            style="max-width: 100%;">

        </div>

        <div class="col-md-8 col-lg-9">

          <div class="card-body">

            <p style="font-weight: bolder; font-size: 38px; text-align: center;">{{ z.Title }}</p>

            <p style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; margin: 2vh 0;">
              {{z.Description}}
            </p>

            <p style="font-size: 30px; font-weight: bold; text-align: center;">Price: ₹{{ z.price }} /-</p>

            <div class="container" style="display: flex;justify-content:center;flex-direction:row;">
              <form method="post" action="{% url 'cart' %}">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ z.Product_id }}">
                <!-- Disable Add to Cart button if product is in cart -->
                <button class="btn, btn1" type="submit" >ADD TO CART</button>

              </form>
              <form method="post" action="{% url 'add_wishlists' %}" style="display: inline-block;">
                {% csrf_token %}
                <button class="btn, btn1" value="{{z.Product_id}}" id="w_btn" name="w_btn" style="margin-left: 10px;">Wishlist</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'app1/footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

</body>

</html>
