<!DOCTYPE html>
<html lang="en">

<head>

	<title>Footer Design</title>

	{% load static %}

	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'app1/style.css' %}">

	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>
	<footer class="footer">

		<div class="container">

			<div class="row">

				<div class="footer-col">

					<h4>Company</h4>

					<ul>

						<li><a href="aboutus">about us</a></li>
						<li><a href="#">our services</a></li>
						<li><a href="#">privacy policy</a></li>
						<li><a href="#">affiliate program</a></li>
					</ul>

				</div>

				<div class="footer-col">

					<h4>get help</h4>

					<ul>

						<li><a href="#">FAQ</a></li>
						<li><a href="#">shipping</a></li>
						<li><a href="#">order status</a></li>
						<li><a href="#">payment options</a></li>

					</ul>

				</div>


				<div class="footer-col">

					<h4>online shop</h4>

					<ul>

						<li><a href="#">Burgers</a></li>
						<li><a href="#">Pizza</a></li>
						<li><a href="#">Sandwich</a></li>
						<li><a href="#">Coffee</a></li>

					</ul>

				</div>


				<div class="footer-col">

					<h4>follow us</h4>

					<div class="social-links">

						<a href="https://www.facebook.com/deepanshu.taneja.140?mibextid=ZbWKwL"><i
								class="fab fa-facebook-f"></i></a>

						<a href="#"><i class="fab fa-twitter"></i></a>

						<a href="https://instagram.com/taneja_deepanshu04?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"><i
								class="fab fa-instagram"></i></a>

						<a href="https://www.linkedin.com/in/deepanshu-taneja-5461181a3"><i class="fab fa-linkedin-in"></i></a>

					</div>

				</div>


				<div class="footer-col">

					<br>

					<h4>Contact Us</h4>

					<ul>

						<li><a href="#">Delhi</a></li>
						<li><a href="#">+011-41033232</a></li>
						<li><a href="#">deepanshutanej762@gmail.com</a></li>

					</ul>

				</div>

			</div>

		</div>

	</footer>

</body>

</html>