<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>

  {% load static %}

  <link rel="stylesheet" href="{% static 'app1/home.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>

  <!-- Navbar Starts HEre  -->

  {% include 'app1/navbar.html' %}
  <!-- Navbar Ends Here -->

  <!-- Carousel Start Here -->

  {% include 'app1/carousel.html' %}

  <!-- Carousel ends here -->


  <!-- Products Starts Here -->

  {% include 'app1/products.html' %}

  <!-- Product Ends Here -->


  <!-- Footer Starts Here  -->
  <div>

    {% include 'app1/footer.html' %}

  </div>
  <!-- Footer Ends Here -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/65ab88a68d261e1b5f55c224/1hkj0rjrd';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>