<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar Starts HEre  -->
    {% include 'app1/navbar.html' %}
    <!-- Navbar Ends Here -->
    <div style=" text-align: center;">
        <h3>{{ o }}</h3>
        <h1 class="alert alert-secondary text-center">User Authentication Form</h1>
        <h4>{{ k }}</h4>
        <h4>{{ d }}</h4>
    </div>

    <div class="container text-center">
        <form method="post" action="">
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
    <br>
    <div>
        <!-- Footer Starts HEre  -->

        {% include 'app1/footer.html' %}
        <!-- Footer Ends Here -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>