<!-- Product begins here -->

<div class="container text-center mt-4">
  <p id="products" style="font-weight: bolder; font-size: 35px;">Our Products</p>
</div>

<div class="container text-center" style="background-color: burlywood;overflow-x: hidden;">
  <div class="row">
    <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 100%;">

      {% for product in page_obj %}

      <div class="col">

        <div class="container text-center" style="background-color: burlywood;">

          <div class="card mb-3 mt-3" id="product-card">

            <img src="{{ product.img.url }}" class="card-img-top" alt="image">

            <div class="card-body">

              <p class="card-title">{{ product.Title }}</p>

              <p style="font-weight: bold;font-size: 20px;">Price : {{ product.price }}/-</p>

              <p>{{ product.Description|slice:":80" }}...</p>

              <form method="post" action="{% url 'cart' %}">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ product.Product_id }}">
                <!-- Disable Add to Cart button if product is in cart -->
                <button class="btn, btn1" type="submit" >ADD TO CART</button>
                <a class="btn" href="{% url 'details' product.id %}">More</a>

              </form>

              <form method="post" action="{% url 'add_wishlists' %}">

                {% csrf_token %}
  
                <button class="btn, btn1" value="{{product.Product_id}}" id="w_btn" name="w_btn"
                  style="margin-top: 5px; width: 80%">Wishlist</button>
  
              </form>

            </div>

          </div>

        </div>

      </div>

      {% endfor %}
    </div>
  </div>

  <div class="pagination mb-3 mt-1">
    <span class="step-links" style="width: 180vmin;">

      {% if page_obj.has_previous %}

      <a href="?page=1" class="page-button">&laquo; First</a>

      <a href="?page={{ page_obj.previous_page_number }}" class="page-button">Previous</a>

      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="page-button">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="page-button">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
</div>

<style>
  @media (max-width: 768px) {
    .container.text-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
