<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {% include 'app1/navbar.html' %}
    <div class="container text-center mt-3" style="font-family:'Times New Roman', Times, serif;">
      <h1>Profile</h1>
      <form action="profile/add_record1" method="post" >
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <br>
    {% include 'app1/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
  </body>
</html>