<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app1/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<style>
     input[type="text"],
    input[type="password"],
    input[type="email"]{
        width:200px;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button[type="submit"] {
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

</style>
<body style="background-color: burlywood;">

    {% include 'app1/navbar.html' %}

    <div class="container text-center">
        
        <h1 style=" margin-top: 30px;">SIGNUP</h1>
        {% if error_message %}
        <p class="error" style=" margin-top: 20px;">{{ error_message }}</p>
        {% endif %}
    </div>

    <div class="container" style="display: flex;justify-content: center;">

        <form method="post" action="" style="background-color: rgb(252, 232, 196); padding: 20px; border-radius: 50px;width: 280px;">

            {%csrf_token%}

            {{ form.as_p }}
            <div style="text-align: center;">
            <button class="btn, btn1" type="submit">Sign Up</button>
                </div>
        </form>

    </div>

    <br>

    {% include 'app1/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>